body{font-family: 'Poppins', sans-serif;
}
.section-1{
    background-color:antiquewhite;

}
.section-2{ 
    background-color: aqua;
    margin: 5%;
    padding: 15%;
display: flex;}
p{background-color: #b4690d;}